:root {
    --base_color: #FE9036
}

a {
    text-decoration: none;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: red;
}

.construction_main {
    background-color: #e4e4e4;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center_div img {
    height: 100px;
    width: auto;
}

.banner {
    margin: 10px 0px;
    background-color: black;
    border-radius: 8px;
    padding: 0px 15px;
    color: white;
}

.banner_text {
    color: #6ad053;
}

/* navbar section starts */

.bar {
    background-color: var(--base_color);
    height: 7px;
    width: 100%;
    font-stretch: extra-expanded
}

.navbar_main {
    -webkit-box-shadow: 0px 5px 17px 0px rgba(254, 144, 54, 0.47);
    box-shadow: 0px 5px 17px 0px rgba(254, 144, 54, 0.47);
    /* border-bottom: 3px solid var(--base_color); */
    padding: 20px 20px;
    z-index: 800;
}

.logo img {
    height: 70px;
}

.nav_links a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 5px 20px;
    font-weight: 500;
    transition: .2s;
}

.nav_links a:hover {
    color: var(--base_color);
}

.nav_links a.active {
    color: var(--base_color);
}

.account a {
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 8px;
    transition: .2s;
}

#login {
    border: 2px solid var(--base_color);
    background-color: var(--base_color);
    color: white;
}

#signin {
    background-color: transparent;
    border: 2px solid var(--base_color);
    color: var(--base_color);
}

#signin:hover {
    background-color: var(--base_color);
    color: white;
}

.logged_in i {
    color: var(--base_color);
    font-size: 20px;
}

.logged_in {
    border: 2px solid var(--base_color);
    height: 40px;
    border-radius: 8px;
    padding: 0px 10px;
    color: black;
    font-weight: 500;
}

#toggle {
    color: var(--base_color);
    font-size: 25px;
}

/* navbar section ends */

/* side navbar section starts here */

.side_nav_main {
    position: fixed;
    background-color: rgb(227, 227, 227);
    width: 200px;
    height: 100%;
    z-index: 1000;
    top: 0;
    transition: .5s ease;
    left: -100%;
}

.side_nav_main img {
    width: 100px;
    height: auto;
}

.side_nav_main a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin: 10px 0px;
    font-size: 18px;
    transition: .2s;
}

.side_nav_main a:hover {
    color: var(--base_color);
}

.not_auth a {
    height: 40px;
    border: 2px solid var(--base_color);
    border-radius: 8px;
    font-weight: 400;
    padding: 10px 0px;
    width: 120px;
}

#side_login {
    background-color: var(--base_color);
    color: white;
}

#side_register {
    color: var(--base_color);
}

#back {
    color: var(--base_color);
    font-size: 25px;
    margin-top: 10px;
}

#toggle {
    display: none;
}

/* side navbar section ends here */

/* index page section starts here */
.carousel_section img {
    width: 1900px;
}

.div_heading_text {
    font-size: 30px;
    font-weight: 500;
}

.colored_text {
    color: var(--base_color);
}

/* product card */

.product_card {
    height: 550px;
    width: 300px;
    border-radius: 8px;
    margin: 0px 5px;
    /* border: 2px solid var(--base_color); */
}

.product_slider {
    height: 600px;
}

.thumb img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.new_badge {
    top: 2%;
    left: 2%;
    height: 50px;
    width: 50px;
    background-color: var(--base_color);
    position: absolute;
    border-radius: 50%;
    color: white;
    font-weight: bold;
}

.name {
    height: 100px;
    padding: 0px 5px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.off_price,
.main_price {
    height: 30px;
    /* background-color: red; */
    border-radius: 18px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    font-weight: 500;
    font-size: 18px;
}

.off_price {
    background-color: rgba(255, 119, 0, 0.274);
    text-decoration: line-through;
    font-weight: normal;
    opacity: .7;
}

.main_price {
    background-color: var(--base_color);
}

.action_button a {
    text-decoration: none;
}

.order_button {
    background-color: var(--base_color);
    padding: 5px 15px;
    border-radius: 18px;
    color: white;
    font-weight: bold;
    transition: .2s;
    margin-top: 5px;
    margin-bottom: 10px;
}

.order_button:hover {
    color: var(--base_color);
    background-color: transparent;
    border: 1px solid var(--base_color);
}

/* product card */

/* index page section ends here */


@media (max-width: 769px) {
    .nav_links {
        display: none;
    }

    .not_logged_in {
        display: none;
    }

    #toggle {
        display: block;
    }

    .logo img {
        width: 100px;
        height: auto;
    }
}