{% extends 'base.html' %}
{% load static %}

{% block title %} Foodsubway {% endblock title %}

{% block content %}

<div class="container-fluid construction_main">
    <div class="center_div mb-2">
        <img src={% static "/img/logo.png" %} alt="logo">

        <div class="mt-4">
            <h2>🚧This website is under construction🚧</h2>
        </div>

        <div class="banner">
            <h1>COMMING <span class="banner_text">SOON!</span></h1>
        </div>
    </div>
</div>

{% endblock %}