{% extends 'base.html' %}
{% load static %}

{% block title %} Foodsubway {% endblock title %}

{% block content %}

<div class="owl-carousel owl-theme carousel_section">
    <div class="item"><img src={% static '/img/banner.webp' %} alt=""></div>
    <div class="item"><img src={% static '/img/banner.webp' %} alt=""></div>
    <div class="item"><img src={% static '/img/banner.webp' %} alt=""></div>
    <div class="item"><img src={% static '/img/banner.webp' %} alt=""></div>
    <div class="item"><img src={% static '/img/banner.webp' %} alt=""></div>
</div>

<div class="container my-5">
    <p class="d-flex justify-content-center div_heading_text my-5"><span class="colored_text">NEW</span>&nbsp;PRODUCTS</p>
    
    <div class="slider product_slider">

        {% comment %} single card {% endcomment %}
        <div class="product_card shadow">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/mashroom.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}
        
        {% comment %} single card {% endcomment %}
        <div class="product_card shadow ">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/honey.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}
        
        {% comment %} single card {% endcomment %}
        <div class="product_card shadow ">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/date.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}
        
        {% comment %} single card {% endcomment %}
        <div class="product_card shadow ">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/mashroom.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}    
    </div>


</div>

<div class="container mt-5">
    <p class="d-flex justify-content-center div_heading_text my-5"><span class="colored_text">NEW</span>&nbsp;PRODUCTS</p>
    
    <div class="slider product_slider">

        {% comment %} single card {% endcomment %}
        <div class="product_card shadow">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/mashroom.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}
        
        {% comment %} single card {% endcomment %}
        <div class="product_card shadow ">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/honey.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}
        
        {% comment %} single card {% endcomment %}
        <div class="product_card shadow ">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/date.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}
        
        {% comment %} single card {% endcomment %}
        <div class="product_card shadow ">
            <div class="thumb">
                <div class="new_badge d-flex justify-content-center align-items-center">NEW</div>
                <img class="img-fluid" src={% static '/img/mashroom.jpg' %} alt="">
            </div>

            <div class="name mt-2 d-flex justify-content-center">Fly Agaric Mushroom (1kg)</div>

            <div class="price d-flex justify-content-center align-items-center">
                <span class="off_price">TK 600</span>
                <span class="main_price">TK 450</span>
            </div>

            <div class="action_button d-flex flex-column justify-content-center align-items-center mt-3">
                <a href="#" class="order_button"><i class="fa-solid fa-circle-info"></i> Details</a>
                <a href="#" class="order_button"><i class="fa-solid fa-cart-shopping"></i> Order Now</a>
            </div>
        </div>
        {% comment %} single card {% endcomment %}    
    </div>


</div>

{% endblock %}
